{% block formBase %}
<h1>Esto seria {{typeAction}} de Ingresos y Gastos</h1>
<p>Un simulacro de contabilidad</p>

<form>
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" placeholder="Ingrese fecha">
        <br>
        <label for="concepto">Concepto:</label>
        <input type="text" name="concepto" placeholder="Ingrese Concepto" >
        <br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" placeholder="Ingrese Cantidad">
        <br>
        <button onclick="alert('Ya lo guardaste, gracias')" >{{butonAction}}</button>
        
</form>


{% endblock %}